# IMAP/SMTP settings
set my_user = "pham@mail.topo.tw"; setenv my_user "$my_user"
set folder = "imaps://$my_user:993"
set imap_pass = `pass mail/$my_user`
set smtp_url = "smtp://$my_user:587"
set smtp_pass = `pass mail/$my_user`

source ~/.config/mutt/muttrc.topo
